body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header{
 align-items: center;
 background-color: #333;
 color: white;
 padding-top: 1px;
 height: 80px;
}
.contenedor {
    padding-top:10px;
    max-width: 60%;
    margin: 0 auto;
    background-color: #eee;
    
}
.contenedor h2{
    text-align: center;
}
.titulo{
    text-align: center;
}
.listado{
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.listado li{
    list-style: none;
    padding-bottom: 45px ;
}
.cripto-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cripto-contenedor img{
    width: 250px;
    padding-right: 45px;
}
.numeracion{
    font-size: 32px;
    font-weight: bold;
    text-align: center;

}
